@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Pacifico&family=Roboto:ital@1&family=Rubik:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
	width: 100%;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2980B9;  
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); 
}
.container{
	width: 500px;
	height: 80vh;
	display: flex;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #2980B9;  
    background: -webkit-linear-gradient(to top, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to top, #2980B9, #6DD5FA, #FFFFFF); 
}
.form{
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}
.form-header{
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-between;
}
.forgot{
	display: flex;
	align-items: center;
}
.forgot a{
	text-decoration: none;
	color: #2980B9;
	cursor: pointer;
	transition: 0.5s;
}
.forgot a:hover{
	color: #fff;
}
.input-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem 0;
	color: #fff;
}
.input-box{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.1rem;
}
.input-box input{
	margin: 0.6rem 0;
	padding: 0.8rem 1.2rem;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px #0000001c;
	transition: 0.5s;
}
.input-box input:hover{
	background-color: #eeeeee75;
}
h6{
	font-size: 0.75rem;
	font-weight: 600;
	color: #000000be;
}
.gender-group{
	display: flex;
	justify-content: space-between;
	margin-top: 0.62rem;
}
.gender-input{
	margin-right: 0.35rem;
}
.gender-input label{
	font-size: 0.81rem;
	font-weight: 600;
	color: #fff;
}
input[type="submit"]{
	padding: 15px 180px;
	font-size: 20px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	align-items: center;
	cursor: pointer;
	color: #1E90FF;
	transition: 0.5s;
	
}
input[type="submit"]:hover{
	background-color: #1E90FF;
	color: #fff;
}
hr{
	color: #fff;
}
.title h6{
	color: #fff;
}
.title h1{
	color: #1E90FF;
	cursor: pointer;
	transition: 0.5s;
}
.title h1:hover{
	color: #fff;
}
@media screen and(max-width: 1330px){
	.container{
		width: 50%;
	}
	.form{
		width: 100%;
	}
}
@media(max-width: 1064px){
	.container{
		height: auto;
		width: 90%;
	}
	.input-group{
		flex-direction: column;
		overflow-y: scroll;
		flex-wrap: nowrap;
		max-height: 10rem;
		padding-right: 5rem;
	}
	.gender-inputs{
		margin-top: 2rem;
	}
	.gender-group{
		flex-direction: column;
	}
	.gender-input{
		margin-top: 0.5rem;
	}
	.input-btn input{
		padding: 15px 110px;
		border-radius: 25px;
	}
}
